@page "/";
@inject LoginAndRegisterStore store;

<PageTitle>Index</PageTitle>

<h1>Hello, world! @store.isLoginActive()</h1>

Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?" />


@code {
    protected override void OnInitialized()
    {
        store.AddStateChangeListeners(() => StateHasChanged());
        //store.AddStateChangeListeners(UpdateView);

    }
    
    
    private void UpdateView()
    {
        StateHasChanged();
    }



};