
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

main {

    font-family: sans-serif;
    font-size: 1.2rem;
    min-height: 100%;

}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px #000000;
    
}
.header {
    grid-area: header;
    background-color: #067212;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1b1b1b;
}
.navbar {
    grid-area: navbar;
    background-color: #1b1b1b;
}
.main{
    
    grid-area: main;
    background-color: #1b1b1b;
}
.footer {
    grid-area: footer;
    background-color: #067212;
}
.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "header" 
        "navbar"
        "main" 
        "sidebar" 
        "footer"
}

@media(min-width: 900px){
    .grid-container {
        background-color: #0e0e0ef0;
        grid-template:
            "header header header" 40px
            "navbar   main   sidebar" 560px
            "footer footer footer" 37px / 
            250px         auto      350px;
    }
}
