@using RedSocialDeportiva.Client.Shared.MessageModal;
@using RedSocialDeportiva.Client.Shared.Loader;
@inherits LayoutComponentBase;

 <main>

     @*<Loader />*@

      @Body

      <MessageModal />

 </main>