

<h2>Iniciar Sesion</h2>

<EditForm  EditContext="editFormContext"  OnValidSubmit="HandleLogin">

        <DataAnnotationsValidator/>

        <div>
            <label for="Email">Correo electronico: </label>
            <div>
                <InputText 
                    id="Email|"
                    @bind-Value="loginDto.Email" 
                    type="email"
                    class="form-control col-sm-3" 
                ></InputText>
                <ValidationMessage For="(() => registerDto.Email)"/>  
            </div>
        </div>


        <div>
            <label for="Password">Contraseña: </label>
            <div>
                <InputText 
                    id="Passowrd"
                    @bind-Value="loginDto.Password"  
                    type="password"
                    class="form-control col-sm-3" 
                ></InputText>
                <ValidationMessage For="(() => registerDto.Password)"/>  
            </div>
        </div>

        <br />
    
        <button type="submit" class="btn btn-primary">ASDA</button>
        @*<button type="button" class="btn btn-danger" @onclick="DeleteHero">Eliminar Heroe</button>*@


</EditForm>

@code {

    #region VARIABLES

        private EditContext? editFormContext;
        private bool formInvalid = false;
        private LoginDto loginDto { get; set; } = new LoginDto();
    
    #endregion


    #region Ciclo de vida del componente.// "CONSTRUCTOR"

        protected override void OnInitialized()
        {
            editFormContext = new(loginDto);
            editFormContext.OnFieldChanged += HandleFieldFormChanged;
        }

    #endregion

    #region METODOS 


        private void HandleFieldFormChanged(object? sender, FieldChangedEventArgs e)
        {
            if (editFormContext is not null)
            {
                formInvalid = !editFormContext.Validate();
                StateHasChanged();
            }
        }


        private void HandleLogin()
        {

            Console.WriteLine($"aaa {loginDto.Password}");
            Console.WriteLine($"aaa page {loginDto.Email}");

            //Console.WriteLine($"True or False: {bln}");
        }














    #endregion
      
}
