

<h2>Registrarse</h2>

<EditForm Model="registerDto" OnSubmit="HandleRegister">


        <div>
            <label for="Email">Correo electronico: </label>
            <div>
                <InputText 
                    id="Email|"
                    @bind-Value="registerDto.Email" 
                    type="email"
                    class="form-control col-sm-3" 
                ></InputText>
                <p>El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>    
            </div>
        </div>


        <div>
            <label for="Password">Contraseña: </label>
            <div>
                <InputText 
                    id="Passowrd"
                    @bind-Value="registerDto.Password"  
                    type="password"
                    class="form-control col-sm-3" 
                ></InputText>
                <p>Minimo 6 caractereas</p>    
            </div>
        </div>
        
        <div>
            <label for="ConfirmPassword">Confirmar cpntraseña: </label>
            <div>
                <InputText 
                    id="Passowrd"
                    @bind-Value="registerDto.ConfirmPassword"  
                    type="password"
                    class="form-control col-sm-3" 
                ></InputText>
                <p>La contraseña no coincide</p>    
            </div>
        </div>

        <br />
    
        <button type="submit" class="btn btn-primary">ASDA</button>
        @*<button type="button" class="btn btn-danger" @onclick="DeleteHero">Eliminar Heroe</button>*@


</EditForm>

@code {




    private Dto.RegisterDto registerDto { get; set; } = new Dto.RegisterDto();


    private void HandleRegister()
    {

        Console.WriteLine($"aaa {registerDto.Password}");
        Console.WriteLine($"aaa page {registerDto.Email}");

        //Console.WriteLine($"True or False: {bln}");
    }

      
}
