@inject LoginAndRegisterStore store;
@implements IDisposable;

<article 
    class="containerBackgroundRegister @(store.IsRegisterActive() ? "noneElement" : null)"
    style="@(store.IsLoginActive() ? "opacity: 1" : "opacity: 0")"
>

   <h3> ¿Aun no tienes una cuenta?</h3>
   <p> Registrate para que puedas iniciar sesion</p>
   
   <button @onclick="goToRegister">
       Registrarse
   </button>

</article>



@code {


    #region Ciclo de vida del componente./ Store.

        protected override void OnInitialized()
        {
            store.SubscribeChangedState(updateComponent);
        }

        public void Dispose()
        {
            store.DesubscribeChangedState(updateComponent);
        }

    #endregion


    #region METODOS

        private void updateComponent() => StateHasChanged();  

        public void goToRegister()
        {
            store.SetLoginActive(false);
            store.SetRegisterActive(true);
            store.ResetFormLogin();
        } 


    #endregion





}

