@inject LoginAndRegisterStore store;
@implements IDisposable;

<article 
    class="containerBackgroundLogin @(store.IsLoginActive() ? "noneElement" : "")"
    style="@(store.IsRegisterActive() ? "opacity: 1" : "opacity: 0")"
>

   <h3> ¿Ya tienes una cuenta?</h3>
   <p> Inicia sesion para entrar a la pagina</p>
   
   <button @onclick="goToLogin">
       Iniciar sesion
   </button>

</article>



@code {

    #region Ciclo de vida del componente./ Store.

        protected override void OnInitialized()
        {
            store.SubscribeChangedState(updateComponent);
        }

        public void Dispose()
        {
            store.DesubscribeChangedState(updateComponent);
        }
    
    #endregion


    #region METODOS

        private void updateComponent() => StateHasChanged();  

        public void goToLogin()
        {
            store.SetLoginActive(true);
            store.SetRegisterActive(false);
            store.ResetFormRegister();
        } 


    #endregion

}

