@inject LoginAndRegisterStore store;

<article>

   <h3> ¿Ya tienes una cuenta?</h3>
   <p> Inicia sesion para entrar a la pagina</p>
   
   <button @onclick="goToLogin">
       Iniciar sesion
   </button>

</article>



@code {

    #region Ciclo de vida del componente.// "CONSTRUCTOR"

        protected override void OnInitialized()
        {
            store.AddStateChangeListeners(updateView);
        }

    #endregion

    #region METODOS


        private void updateView() => StateHasChanged();

        public void goToLogin()
        {
            store.SetLoginActive(true);
            store.SetRegisterActive(false);
            store.ResetFormRegister();
        } 


    #endregion







}

