@inject LoginAndRegisterStore store;

<article 
    class="containerBackgroundLogin @(store.IsLoginActive() ? "noneElement" : "")"
    style="@(store.IsRegisterActive() ? "opacity: 1" : "opacity: 0")"
>

   <h3> ¿Ya tienes una cuenta?</h3>
   <p> Inicia sesion para entrar a la pagina</p>
   
   <button @onclick="goToLogin">
       Iniciar sesion
   </button>

</article>



@code {

    #region Ciclo de vida del componente./ Store.

        protected override void OnInitialized()
        {
            store.SubscribeChangedState(updateView);
        }

        private void updateView() => StateHasChanged();
    
    #endregion


    #region METODOS


        public void goToLogin()
        {
            store.SetLoginActive(true);
            store.SetRegisterActive(false);
            store.ResetFormRegister();
        } 


    #endregion

}

