@inject LoginAndRegisterStore store;

<article>

   <h3> ¿Aun no tienes una cuenta?</h3>
   <p> Registrate para que puedas iniciar sesion</p>
   
   <button @onclick="goToRegister">
       Registrarse
   </button>

</article>



@code {


    #region Ciclo de vida del componente.// "CONSTRUCTOR"

        protected override void OnInitialized()
        {
            store.AddStateChangeListeners(updateView);
        }

    #endregion

    #region METODOS


        private void updateView() => StateHasChanged();

        public void goToRegister()
        {
            store.SetLoginActive(false);
            store.SetRegisterActive(true);
            store.ResetFormLogin();


            
        } 


    #endregion





}

