@inject LoginAndRegisterStore store;

<article>

   <h3> ¿Ya tienes una cuenta?</h3>
   <p> Inicia sesion para entrar a la pagina</p>
   
   <button @onclick="goToLogin">
       Iniciar sesion
   </button>

</article>



@code {


    #region Ciclo Vida componente

    protected override void OnInitialized()
    {
        store.AddStateChangeListeners(updateView);
    }

    #endregion

    #region Metodos relacionado al Store

    public void Dispose() // Ejecutar con el ultimo metodo de ciclo de vida.
    {
        store.RemoveStateChangeListeners(updateView);
    }

    private void updateView() => StateHasChanged();

    #endregion



    public void goToLogin()
    {
        store.SetLoginActive(true);
        store.SetRegisterActive(false);
        /// TODO: Resetear FORM register.
    } 




}

