@inject LoginAndRegisterStore store;

<article>

   <h3> ¿Ya tienes una cuenta?</h3>
   <p> Inicia sesion para entrar a la pagina</p>
   
   <button >
       Iniciar sesion  @store.isLoginActive()
   </button>

</article>



@code {
    protected override void OnInitialized()
    {
        store.AddStateChangeListeners(() => StateHasChanged());
        //store.AddStateChangeListeners(UpdateView);

    }
    
    
    private void UpdateView()
    {
        StateHasChanged();
    }
}

