.backgroundSpinner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background-color: rgba(0, 0, 0, 0.296);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto */
}

.CloseLoader{
    display: none;
}

.containerSpinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    width: 200px;
    height: 200px;
    transform: scale(1.25); /* Modifcamos dimensiones spinner */
    background-color: #fff;
}

.spinner {
    width: 100%;
    height: 70%;
    position: relative;
    left: 65px;
    top: 40px;
}


.containerSpinner div {
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

    .containerSpinner div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #000;
        margin: -4px 0 0 -4px;
    }

    .containerSpinner div:nth-child(1) {
        animation-delay: -0.036s;
    }

        .containerSpinner div:nth-child(1):after {
            top: 63px;
            left: 63px;
        }

    .containerSpinner div:nth-child(2) {
        animation-delay: -0.072s;
    }

        .containerSpinner div:nth-child(2):after {
            top: 68px;
            left: 56px;
        }

    .containerSpinner div:nth-child(3) {
        animation-delay: -0.108s;
    }

        .containerSpinner div:nth-child(3):after {
            top: 71px;
            left: 48px;
        }

    .containerSpinner div:nth-child(4) {
        animation-delay: -0.144s;
    }

        .containerSpinner div:nth-child(4):after {
            top: 72px;
            left: 40px;
        }

    .containerSpinner div:nth-child(5) {
        animation-delay: -0.18s;
    }

        .containerSpinner div:nth-child(5):after {
            top: 71px;
            left: 32px;
        }

    .containerSpinner div:nth-child(6) {
        animation-delay: -0.216s;
    }

        .containerSpinner div:nth-child(6):after {
            top: 68px;
            left: 24px;
        }

    .containerSpinner div:nth-child(7) {
        animation-delay: -0.252s;
    }

        .containerSpinner div:nth-child(7):after {
            top: 63px;
            left: 17px;
        }

    .containerSpinner div:nth-child(8) {
        animation-delay: -0.288s;
    }

        .containerSpinner div:nth-child(8):after {
            top: 56px;
            left: 12px;
        }

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
