@page "/a"
@using RedSocialDeportiva.Client.Pages.LoginAndRegister.Components



@*Incorporamos el store dentro del index *@
@inject LoginAndRegisterStore store;


@*LOADER*@
<PageTitle>Index</PageTitle>


<main>

    <div class="containerPage">

        <section class="containerBackground">

            <MessageLogin/>

            <MessageRegister/>

        </section>

        <section>

            <FormLogin />
            
            <FormRegister />

        </section>

    </div>

</main>


@code{

    //private string css_containerFormActive = 
    private string styleContainerForms = $"containerLoginAndRegister";



    #region Ciclo Vida componente

    protected override void OnInitialized()
    {
        store.AddStateChangeListeners(updateView);
    }

    #endregion

    #region Metodos relacionado al Store

    // Ejecutar con el ultimo metodo de ciclo de vida.
    public void Dispose() => store.RemoveStateChangeListeners(updateView); // QUITAR DE METODO

    private void updateView() => StateHasChanged();

    #endregion


    #region METODOS

    public void change() => store.SetLoginActive(!store.IsLoginActive());





    #endregion

}