@page "/"; 
@inject LoginAndRegisterStore store;
@implements IDisposable;
@using RedSocialDeportiva.Client.Pages.LoginAndRegister.Components;



@*LOADER*@
<PageTitle>Autenticacion</PageTitle>


<main class="mainLoginAndRegister">

    <div class="containerPage">

        <section class="containerPage__Background">                

            <MessageLogin/>

            <MessageRegister/>

        </section>

        <section class="containerPage__LoginAndRegister @store.GetClassCssFormModifed()">

            <FormLogin />
            
            <FormRegister />

        </section>                                                                                                                           

    </div>

</main>


@code{
    #region Ciclo Vida componente

    protected override void OnInitialized()
    {
        store.SubscribeChangedState(updateComponent);

        store.ChangeClassCssForm();
    }

    public void Dispose() 
    {
       store.DesubscribeChangedState(updateComponent); 
    }

    #endregion



    #region METODOS

    private void updateComponent() => StateHasChanged(); 

    #endregion
}