@page "/a"
@using RedSocialDeportiva.Client.Pages.LoginAndRegister.Components

<PageTitle>Index</PageTitle>

@*LOADER*@

<div >

    <section>

        <MessageLogin/>



    </section>


</div>


@*Modal Container*@

@code{

}