@*Cambiar url*@
@page "/"; 
@inject LoginAndRegisterStore store;
@using RedSocialDeportiva.Client.Pages.LoginAndRegister.Components;



@*LOADER*@
<PageTitle>Inicio</PageTitle>


<main class="mainLoginAndRegister">

    <div class="containerPage">

        <section class="containerPage__Background">

            <MessageLogin/>

            <MessageRegister/>

        </section>

        <section class="containerPage__LoginAndRegister @store.GetClassCssFormModifed()">

            <FormLogin />
            
            <FormRegister />

        </section>

    </div>

</main>


@code{




    #region Ciclo Vida componente

    protected override void OnInitialized()
    {
        store.SubscribeChangedState(updateView);

        store.ChangeClassCssForm();


    }

    #endregion

    #region Metodos relacionado al Store

    // Ejecutar con el ultimo metodo de ciclo de vida.
    public void Dispose() => store.DesubscribeChangedState(updateView); // QUITAR DE METODO

    private void updateView() => StateHasChanged();

    #endregion





    #region METODOS



    public void change() {
        store.SetLoginActive(!store.IsLoginActive());

    }

    #endregion

}