@page "/a"
@using RedSocialDeportiva.Client.Pages.LoginAndRegister.Components

<PageTitle>Index</PageTitle>

@*LOADER*@

<div >

    <section>

        @*<MessageLogin/>*@



    </section>

    <section>

            @*<FormLogin />*@

            <FormRegister />

    </section>

a
</div>


@*Modal Container*@

@code{

}