/*main {
    --GLHF-color: #2f2f2f;
    --GLHF-background: #00a50d;
    overflow-y: scroll;
}*/
/* Feed */
/*.feed {
    flex: 0.5;
    border-right: 1px solid var(--GLHF-background);
    min-width: fit-content;
}

.feed__header {
    color: #303030;
    position: sticky;
    top: 0;
    background-color: #008000be;
    z-index: 100;
    padding: 10px 20px;
}

    .feed__header h2 {
        font-size: 20px;
        font-weight: 800;
    }*/

/* Post Box */
/*.postbox {
    padding-bottom: 10px;
    border-bottom: 3px solid var(--GLHF-background);
    padding-right: 2px;
}

    .postbox form {
        display: flex;
        flex-direction: column;
    }

.postbox__input {
    display: flex;
    padding: 10px;
}

    .postbox__input input {
        flex: 1;
        margin-left: 15px;
        font-size: 20px;
        border: none;
        outline: none;
    }

    .postbox__input img {
        border-radius: 30%;
        height: 60px;
        position: relative;
        left: 10px;
    }

.postbox__postbutton {
    background-color: #00a50dcc;
    border: none;
    color: #303030;
    font-weight: 800;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    margin-left: auto;
}*/
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    overflow: hidden;
  
    font-family: sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px #000000;
    
}
.header {
    font-size: 25px;
    grid-area: header;
    background-color: #06721262;
    color: white;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1b1b1b;
}
.navbar {
   
    grid-area: navbar;
    background-color: #1b1b1b;
}
.main{
    
    grid-area: main;
    background-color: #1b1b1b;
}
.footer {
    grid-area: footer;
    background-color: #06721262;
}
.grid-container {

    display: grid;
    gap: 20px;
    grid-template-areas: 
        "header" 
        "navbar"
        "main" 
        "sidebar" 
        "footer"
}

@media(min-width: 500px) {
    .grid-container {
        background-color: #0e0e0ef0;
        grid-template:
            "header header header" 50px
            "sidebar   main   navbar" 1000px 
            "footer footer footer" 35px /
            280px auto 280px;
    }

    .post {
        display: flex;
        padding: 1em;
    }

    .post__author-logo {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .post__header {
        display: flex;
    }

    .post__author-name {
        font-size: 15px;
        font-weight: 700;
        color: #ffffff;
        margin-right: 5px;
        position: relative;
        top: -943px;
        left: -7px;
    }

    .post__publish-time {
        font-size: 14px;
        font-weight: 700;
        margin-left: 5px;
        color: #ffffff8f;
        position: relative;
        top: -1903px;
        left: 160px;
    }

    .post__content {
        color: white;
        font-size: 15px;
        font-weight: 700;
        margin-left: 10px;
        position: relative;
        left: -99px;
        top: 50px;
    }

    .post__img {
        height: 305px;
        position: relative;
        top: -855px;
        left: 55px;
        border-radius: 15px;
        margin-top: 10px;
    }
    /*   .post__img-Favorite {
        height: 32px;
        position: relative;
        top: 450px;
        right: 840px;
    }
    .post__img-Shared {
        height: 32px;
        position: relative;
        top: 450px;
        right: 645px;
    }
    .post__img-Coment {
        height: 32px;
        position: relative;
        top: 450px;
        right: 1100px;
    }*/
    /*-*/
    .post2 {
        display: flex;
    }

    .post__author-logo2 {
        width: 49px;
        height: 49px;
        border-radius: 50%;
        margin-right: 15px;
        position: relative;
        top: -840px;
        left: 10px;
    }

    .post__header2 {
        display: flex;
    }

    .post__author-name2 {
        font-size: 15px;
        font-weight: 700;
        color: #ffffff;
        margin-right: 5px;
        position: relative;
        top: -1823px;
        left: -3px;
    }

    .post__publish-time2 {
        font-size: 14px;
        font-weight: 700;
        margin-left: 5px;
        color: #ffffff8f;
        position: relative;
        top: -2822px;
        left: 160px;
    }

    .post__content2 {
        color: white;
        font-size: 15px;
        font-weight: 700;
        margin-left: 10px;
        position: relative;
        left: -75px;
        top: -780px;
    }

    .post__img2 {
        height: 307px;
        position: relative;
        top: -1670px;
        left: 55px;
        border-radius: 15px;
        margin-top: 10px;
    }

    .post2 a {
        color: #067212;
    }

        .post2 a:hover {
            text-decoration: underline;
        }
    /**/

    .sidebar-menu {
        position: fixed;
        
    }
    .sidebar-menu__item {

        font-size: 20px;
        color: white;
        display: flex;
        position:relative;
        top: 50px;
        left: 40px;
        font-weight: 700;
        padding: 10px;
    }
    
    .sidebar-menu__item-icon {
        height: 26px;
        margin-right: 20px;
    }
    .sidebar-menu {
        position: fixed;
    }

    .sidebar-menu__item {

        font-size: 20px;
        color: white;
        display: flex;
        position: relative;
        top: 50px;
        left: 40px;
    }
    .sidebar-menu__item:hover {
        background: #067212;
      
    }

    .sidebar-menu__item-icon {

        height: 30px;
        margin-right: 18px;

    }
        .sidebar-menu2{
        position:fixed;
    }
    .sidebar-menu__item2 {
        font-size: 20px;
        color: white;
        display: flex;
        position: relative;
        top: 100px;
        left: 40px;
        font-weight: 700;
        padding: 10px;
    }
    .sidebar-menu__item-icon2 {
        height: 32px;
        margin-right: 18px;
    }
    .sidebar-menu3 {
        position: fixed;
    }

    .sidebar-menu__item3 {
        font-size: 20px;
        color: white;
        display: flex;
        position: relative;
        top: 150px;
        left: 40px;
        font-weight: 700;
        padding: 10px;
    }

    .sidebar-menu__item-icon3 {
        height: 32px;
        margin-right: 18px;
    }
    .sidebar-menu4 {
        position: fixed;
    }

    .sidebar-menu__item4 {
        font-size: 20px;
        color: white;
        display: flex;
        position: relative;
        top: 200px;
        left: 40px;
        font-weight: 700;
        padding: 10px;
    }

    .sidebar-menu__item-icon4 {
        height: 32px;
        margin-right: 18px;
        
    }

 }
