/*main {
    --GLHF-color: #2f2f2f;
    --GLHF-background: #00a50d;
    overflow-y: scroll;
}*/
/* Feed */
/*.feed {
    flex: 0.5;
    border-right: 1px solid var(--GLHF-background);
    min-width: fit-content;
}

.feed__header {
    color: #303030;
    position: sticky;
    top: 0;
    background-color: #008000be;
    z-index: 100;
    padding: 10px 20px;
}

    .feed__header h2 {
        font-size: 20px;
        font-weight: 800;
    }*/

/* Post Box */
/*.postbox {
    padding-bottom: 10px;
    border-bottom: 3px solid var(--GLHF-background);
    padding-right: 2px;
}

    .postbox form {
        display: flex;
        flex-direction: column;
    }

.postbox__input {
    display: flex;
    padding: 10px;
}

    .postbox__input input {
        flex: 1;
        margin-left: 15px;
        font-size: 20px;
        border: none;
        outline: none;
    }

    .postbox__input img {
        border-radius: 30%;
        height: 60px;
        position: relative;
        left: 10px;
    }

.postbox__postbutton {
    background-color: #00a50dcc;
    border: none;
    color: #303030;
    font-weight: 800;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    margin-left: auto;
}*/
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    overflow: hidden;
  
    font-family: sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px #000000;
    
}
.header {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    grid-area: header;
    background-color: #0a0a0a;
    color: white;

}

.sidebar {
    overflow-x: hidden;
    grid-area: sidebar;
    background-color: #1b1b1b;
}
.navbar {
    grid-area: navbar;
    background-color: #1b1b1b;
}
.main {
    grid-area: main;
    background-color: #1b1b1bff;
}
.footer {
    grid-area: footer;
    background-color: #0a0a0a;
}
.grid-container {
    display: grid;
    gap: 15px;
    grid-template-areas:
        "header"
        "navbar"
        "main"
        "sidebar"
        "footer"
}

@media(min-width: 500px) {
    .grid-container {
        background-color: #065600be;
        grid-template:
            "header header header" 50px
            "navbar   main   sidebar" 1700px
            "footer footer footer" 35px /
            270px auto 320px;
    }

    .post {
        display: flex;
        padding: 1em;
    }

    .post__author-logo {
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
        position: relative;
        top: -1520px;
        left:4px;
    }

    .post__header {
        display: flex;
    }

    .post__author-name {
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        margin-right: 5px;
        position: relative;
        top: -3165px;
        left: 0px;
    }

    .post__publish-time {
        font-size: 13px;
        font-weight: 700;
        margin-left: 5px;
        color: #ffffff8f;
        position: relative;
        top: -4822px;
        left: 70px;
    }

    .post__content {
        color: white;
        font-size: 15px;
        font-weight: 700;
        margin-left: 10px;
        position: relative;
        left: -52px;
        top: -1450px;
    }

    .post__img {
        height: 305px;
        position: relative;
        top: -3050px;
        left: 100px;
        border-radius: 15px;
        margin-top: 10px;
    }
    /*   .post__img-Favorite {
        height: 32px;
        position: relative;
        top: 450px;
        right: 840px;
    }
    .post__img-Shared {
        height: 32px;
        position: relative;
        top: 450px;
        right: 645px;
    }
    .post__img-Coment {
        height: 32px;
        position: relative;
        top: 450px;
        right: 1100px;
    }*/
    /*-*/
    .post2 {
        display: flex;
    }

    .post__author-logo2 {
       
        height: 49px;
        border-radius: 50%;
        margin-right: 15px;
        position: relative;
        top: -3000px;
        left: 40px;
    }

    .post__header2 {
        display: flex;
    }

    .post__author-name2 {
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        margin-right: 5px;
        position: relative;
        top: -4685px;
        left: 35px;
    }

    .post__publish-time2 {
        font-size: 13px;
        font-weight: 700;
        margin-left: 5px;
        color: #ffffff8f;
        position: relative;
        top: -6380px;
        left: 125px;
    }

    .post__content2 {
        color: white;
        font-size: 15px;
        font-weight: 700;
        margin-left: 10px;
        position: relative;
        left: -35px;
        top: -2930px;
    }

    .post__img2 {
        height: 307px;
        position: relative;
        top: -4520px;
        left: 105px;
        border-radius: 15px;
        margin-top: 10px;
    }

    .post2 a {
        color: #067212;
    }

        .post2 a:hover {
            text-decoration: underline;
        }
    .grid-container header {
        font-size:35px;
        padding: 0px;
        padding-left: 40px;

    }

        .grid-container header span {
            color:#067212
        }
        /*navbar*/
    .navbar-gral {
        
    position:relative;
    top:120px;
    }

        .navbar-menu {
            position: fixed;


        }
    .navbar-menu__item {
        font-size: 20px;
        position: relative;
        top: -80px;
        left: 30px;
        font-weight: bold;
        
    }
    .navbar-menu-title {
        color: #ffffff;
     text-decoration:none;
    }

    .navbar-menu__item-icon {
       
        height: 33px;
        margin-right: 15px;
    }

    .navbar-menu__item:hover {
        background: #067212cf;
        height: 42px;
        width: 125px;
        Border-radius: 15px;
        cursor: pointer;
    }


    .navbar-menu2 {
        position: fixed;
        
    }

    .navbar-menu__item2 {
        font-size: 20px;
        color: white;
        display: flex;
        position: relative;
        top: -20px;
        left: 30px;
        font-weight: bold;
        
    }
        .navbar-menu__item2:hover {
            background: #067212b4;
            height: 42px;
            width: 125px;
            Border-radius: 15px;
            cursor: pointer;
        }
    .navbar-menu-title2 {
        color: #ffffff;
        text-decoration: none;
    }

    .navbar-menu__item-icon2 {
        
        height: 35px;
        margin-right: 18px;
    }

    .navbar-menu3 {
        position: fixed;

    }

    .navbar-menu__item3 {
        font-size: 20px;
        color: white;
        position: relative;
        top: 40px;
        left: 28px;
        font-weight: bold;
        padding: 0px;
       
    }
        .navbar-menu__item3:hover {
            background: #067212b4;
            height: 42px;
            Border-radius: 15px;
            cursor: pointer;
        }
    .navbar-menu__item-icon3 {
        color: #ffffff;
        text-decoration: none;
        height: 31px;
        margin-right: 15px;
    }
  


    .navbar-menu4 {
        position: fixed;
    }

    .navbar-menu__item4 {
        font-size: 20px;
        color: white;
        font-weight:bold;
        position: relative;
        top: 100px;
        left: 28px;
      
   
    }
    .navbar-menu__item-icon4 {
        color: #ffffff;
        text-decoration: none;
        height: 35px;
        margin-right: 15px;

       
    }
    .navbar-menu__item4:hover {
        
        background: #067212b4;
        height: 42px;
        Border-radius: 15px;
         cursor: pointer;
    }
 /*   *postbox**/


    .postbox__input img {
        border-radius:50%;
        height:50px;
    }
    .postBox form {
        display:flex;
        flex-direction:column;

    }
    .postbox__input {
        height: 140px;
        display: flex;
        padding: 20px;
     
    }
        .postbox__input input {
            flex: 1;
            margin-left: 2px;
            font-size: 22px;
            border: none;
            outline: none;
            color:white;
            background-color: #00000020;
            padding-bottom: -200px;
            border-bottom: 4px solid green;
            padding-right: 10px;
            border-radius:25px;


        }
    .postBox__postButton {
        background-color: #067212b4;
        
        color: white;
        border: none;
        font-weight: 600;
        border-radius: 100px;
        width: 80px;
        height: 40px;
        margin-top: 2px;
        margin-left: 780px;
    }
        .postBox__postButton:hover {
            background-color: #06721268;
          
        }
    .Footer-firm {
        color: whitesmoke;
        position: relative;
        font-size:17px;
        font-weight: 400;
        left: 550px;
        top: 7px;
    }
 }
