@page "/Home"
@*Incorporamos el store dentro del index *@
@inject StoreGlobal.GlobalStore storeGlobal;

    <div class="">
        <NavMenu />
    </div>


<main>

    @*Comienza el Feed*@
    <div class="feed">
       <div class ="feed__header">
           <h2>
               GL.HF Home

           </h2>
       </div>
       
    </div>

    @*Postbox Inicio*@
    <div class="postbox">
        <form>
            <div class="postbox__input">
                <img src="/ImgAvatar.gif" alt="" /> 
                <input type="text" placeholder="Publica algo en GL.HF...">
            </div>
            <button class="postbox__postbutton">Publicar</button>
        </form>
        
    </div>

    @*Postbox Fin*@


    @*Post Inicio*@
    <div class="post">
        <div class="post__avatar">
       
             <div class="post__body">
               <div class="post__header"></div>
             </div>

        </div>

        <div class="post__headerText">
             <img src="/ImgAvatar.gif" alt="" /> 
             <h3> Nickname </h3>
        </div>

        <div class="post_headerDescription">
            <p>Excelente sabado de noticias, fui convocado por el equipo 9Z para competir en las clasificaciones al torneo internacional.</p>
        </div>

    </div>
    
    <div class="post__publicacion">
         <img src="/VideoHome.jpg" alt="" /> 
    </div>

    <div class="post__footer">
         <img src="/Favorite.png" alt="" /> 
         <img src="/Compartir.png" alt="" />
    </div>

    @*Post Fin*@


@*Post Fin*@


    @*Termina el Feed*@

</main>



@code{

    

}