@*

    <div class="">
        <NavMenu />
    </div>


<main>


    <div class="feed">
       <div class ="feed__header">
           <h2>
               GL.HF Home

           </h2>
       </div>
       
    </div>


    <div class="postbox">
        <form>
            <div class="postbox__input">
                <img src="/ImgAvatar.gif" alt="" /> 
                <input type="text" placeholder="Publica algo en GL.HF...">
            </div>
            <button class="postbox__postbutton">Publicar</button>
        </form>
        
    </div>


    <div class="post">
        <div class="post__avatar">
       
             <div class="post__body">
               <div class="post__header"></div>
             </div>

        </div>

        <div class="post__headerText">
             <img src="/ImgAvatar.gif" alt="" /> 
             <h3> Nickname </h3>
        </div>

        <div class="post_headerDescription">
            <p>Excelente sabado de noticias, fui convocado por el equipo 9Z para competir en las clasificaciones al torneo internacional.</p>
        </div>

    </div>
    
    <div class="post__publicacion">
         <img src="/VideoHome.jpg" alt="" /> 
    </div>

    <div class="post__footer">
         <img src="/Favorite.png" alt="" /> 
         <img src="/Compartir.png" alt="" />
    </div>



</main>
*@

@page "/Home"
@inject NavigationManager UriHelper
@*Incorporamos el store dentro del index *@
@inject StoreGlobal.GlobalStore storeGlobal;

<header>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />


</header>
<body>

<main class="grid-container">
    <header class="header" >GL<span>.HF </span>

    </header>

    <nav class="navbar">
        <div class="navbar-gral"> 
        <div class="navbar-menu">

        <div class="navbar-menu__item">
           <img class="navbar-menu__item-icon" src="/Home.png" />
        
    <a class="navbar-menu-title" href="/Home">Home</a><br />



    <NavLink href="/Home"></NavLink><br />



           </div>
        </div>
         <div class="navbar-menu2">

        <div class="navbar-menu__item2">
           <img class="navbar-menu__item-icon2" src="/PerfilIcon.png" />
        
    <a class="navbar-menu-title2" href="/Perfil">Perfil</a><br />

             <p>
    <NavLink href="/Perfil"></NavLink><br />
</p>
         
           </div>
        </div>
         <div class="navbar-menu3">

        <div class="navbar-menu__item3">
           <img class="navbar-menu__item-icon3" src="/Estadisticas.png" />
            
    <a class="navbar-menu__item-icon3" href="/Estadisticas">Estadisticas</a><br />

            
    <NavLink href="/Estadisticas"></NavLink><br />

           </div>
        </div>
         <div class="navbar-menu4">

        <div class="navbar-menu__item4">
           <img class="navbar-menu__item-icon4" src="/Ranking.png" />
           
    <a class="navbar-menu__item-icon4" href="/Ranking">Ranking</a><br />

    <NavLink href="/Ranking"></NavLink><br />

          
        </div>
        </div>
        </div>
    </nav>
     <aside class="sidebar"></aside>
  
    <article class="main" >

       
        <div class="postBox">
            <form>
                <div class="postbox__input">
                    <img src="/imgavatar.png" alt="" />

                <input type"text" placeholder="¿En qué estás pensando?" />
                    </div>
                    <button class="postBox__postButton">Postear</button>
            </form>
        </div>


        <div class="post">

<img class="post__author-logo" src="./imgavatar.png"/>


<div class="post__main">
    <div class="post__header">

    </div>

    <div class="post__author-name">
        Gibz
    </div>
    <div class="post__publish-time">
        10hs
    </div>

    
</div>

<div class="post__content">
    Fui convocado por el Team Sharks para competir en el torneo Aorus League con la posibilidad de entrar al campeonato mundial. <br /> #GoTeamSharks 
   

</div>
@*<img class="post__img-Favorite" src="/Favorite.png" />
<img class="post__img-Shared" src="/Shared.png" />
<img class="post__img-Coment" src="/Comentar.png" />*@
        </div>
         <img class="post__img" src="/sharks.png" />
     
         @*-*@
         <div class="post2">

<img class="post__author-logo2" src="./fotito10.png"/>
<div class="post__main2">
    <div class="post__header2">

    </div>
    <div class="post__author-name2">
        Shroud
    </div>
    <div class="post__publish-time2">
        12hs
    </div>
    
</div>

<div class="post__content2">
    ¡Hola! <br />
Los invito a pasarse a mi canal de Twitch, ¡donde se realizará un mini sorteo de apertura!
   <a href="https://www.twitch.tv/shroud" > https://www.twitch.tv/shroud
       
       </a> 
       <br />
       #Shroud #Sorteo #StreamON
   
</div>

        </div>
         <img class="post__img2" src="/twitch.jpg" />
         

    </article>


    <footer class="footer"></footer>
   
</main>
</body>


@code{
     private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    void Navigate()
{

}

}