@page "/Home"
@*Incorporamos el store dentro del index *@
@inject StoreGlobal.GlobalStore storeGlobal;
<body>
<main class="grid-container">
    <header class="header">HEADER</header>
    <nav class="navbar"></nav>
    <aside class="sidebar">SIDEBAR</aside>
    <article class="main" >MAIN</article>
    <footer class="footer"></footer>
   
</main>
</body>


@code{

    

}