@page "/Estadisticas";
@inject StoreGlobal.GlobalStore storeGlobal;

<header>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
</header>
<body>

<main class="grid-container">
    <header class="header"></header>

    <aside class="sidebar">

        

    </aside>
     <nav class="navbar"></nav>
  
    <article class="main" >
        <div class="contenedor">
            <div class="card">
                <div class="card-encabezado">
                    <img src="~/Assets/9z.jpg" alt="" />
                </div>
        <div class="info-personal desplazar">Znorux</div>
       <div class="info-personal desplazar">Argentina,Buenos Aires</div>
       <div class="info-personal desplazar">
           <p>skills&uml;e</p>
       </div>
            
            <div class="card-acciones">
                <button class="botones agrandar">
                    <span class="fas fa-envelope"></span>
                    Contactar
                </button>
            </div>
                </div>

        </div>
         @*   <div class="contenedor2">
                <div class="card2">
                    <div class="card-encabezado2">
                        <img src="~/imgavatar.png" alt="" />
                    </div>
                    <div class="info-personal desplazar2">Znorux</div>
                    <div class="info-personal desplazar2">Argentina,Buenos Aires</div>
                    <div class="info-personal desplazar2">
                        <p>skills&uml;e</p>
                    </div>
                </div>
                <div class="card-acciones2">
                    <button class="botones agrandar2">
                        <span class="fas fa-envelope2"></span>
                        Contactar
                    </button>
                </div>


            </div>
            <div class="contenedor3">
                <div class="card3">
                    <div class="card-encabezado3">
                        <img src="~/imgavatar.png" alt="" />
                    </div>
                    <div class="info-personal desplazar3">Znorux</div>
                    <div class="info-personal desplazar3">Argentina,Buenos Aires</div>
                    <div class="info-personal desplazar3">
                        <p>skills&uml;e</p>
                    </div>
                </div>
                <div class="card-acciones3">
                    <button class="botones agrandar3">
                        <span class="fas fa-envelope3"></span>
                        Contactar
                    </button>
                </div>


            </div>*@




    </article>


    <footer class="footer"></footer>
   
</main>
</body>


@code{
     private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    

}
