<div>

    <div>
        <input />

    </div>

    <p> Error </p>

</div>

@code {

    [Parameter]
    public EventCallback HandleChange { get; set; }
    /*
       Para ejecutar deberemos  utilziar otra funcion que ejecute
       awa9t HandleChange.InvokeAsync();
       Nota, si el metodo necesita de parametros, se lo pasaremos por los ()
     */

    [Parameter]
    public FormInputsLogin InputProps {get; set;}
    
    [Parameter]
    public string Value { get; set; }
    
    [Parameter]
    public string ErrorMessage { get; set; }
    
    [Parameter]
    public string Pattern { get; set; }
    
    [Parameter]
    public int Key { get; set; }


}
